/CreateFriendship.class
/DestroyFriendship.class
/GetIncomingFriendships.class
/GetOutgoingFriendships.class
/LookupFriendships.class
/ShowFriendship.class
/UpdateFriendship.class
/package-info.class
